// 
// pages-rtl.scss
//


// timeline

.verti-timeline{
    border-left: 0;
    border-right: 2px solid $gray-300;
    .event-list{
        padding: 0 50px 40px 0;
        &::before{
            left: auto;
            right: -2px;
            border-left: 0px;
            border-right: 2px solid $gray-400;
            border-top-left-radius: 0px;
            border-top-right-radius: 15px;
        }
    }
}

// email

.message-list {
    li {
        .col-mail{
            float: right;
        }
        .col-mail-1{
            .star-toggle, .checkbox-wrapper-mail, .dot{
                float: right
            }
            .checkbox-wrapper-mail {
                margin: 15px 20px 0 10px;
            }
            
            .title {
                right: 110px;
                left: 0;
            }
        }
        .col-mail-2{
            right: 320px;
            left: 0;

            .subject {
                right: 0;
                left: 200px;
            }

            .date {
                left: 0;
                right: auto;
                padding-right: 80px;
                padding-left: 0px;
            }
        
        }
    }
    .checkbox-wrapper-mail {
        label{
            &:before{
                right: 4px;
            }
        }
    }
}


// authentication

.home-btn {
    position: absolute;
    left: 25px;
    right: auto;
}
